html, body {
	min-height: 100vh;
	width: 100% !important;
	margin: 0;
}

.container-fluid {
	height: 100%;
}

.format-input {
	resize: none;
}

.vr {
	width: 5px !important;
}

.btn {
	width: fit-content;
}

.userstuff p, .userstuff details {
    margin: 1.286em auto;
    padding: 0;
}

.text {
	max-width: 100%;
	text-wrap: wrap;
}