html, body {
	height: 100%;
}

.container-fluid {
	height: 100%;
}

.format-input {
	resize: none;
}

.vr {
	width: 5px !important;
}

.btn {
	width: fit-content;
}

.userstuff p, .userstuff details {
    margin: 1.286em auto;
    padding: 0;
}